*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.wrapper{
    width: 75vw;
    margin: 32px auto 0;
}
.header-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top__heading{
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
.header-top__nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header-top__nav ul li{
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px;
}
.nav__list li a{
    text-decoration: none;
    color: grey;
}
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer{
    text-align: center;
}